{% extends 'text/base.html' %}

{% load static %}

{% block content %}
<section class="row justify-content-center pt-5">
    <article class="col-md-6">
        <div class="row text-center p-3">
            <h1>CheckIN SMS</h1>
        </div>
        <div class="row justify-content-center p-3">
            <img class="logo" src="{% static 'text/img/message-app.png' %}" alt="Cell phone with text message bubble">
        </div>
        <div class="row text-center p-3">
            <h2>Coming Soon!</h2>
        </div>
    </article>
</section>
{% endblock %}