{% extends 'text/base.html' %}
{% load static %}

{% block content %}

<div class="row text-center">
    <h1>Success!</h1>
</div>

<div class="col-md-6 offset-md-3">
    <p>You have successfully signed up to receive check-ins via text message and should receive your first check-in within the next 24 hours.</p>
    <p>If you have any questions, please contact [User Name] at [user email].</p>
    <p>If you no longer wish to receive regular check-ins, text "STOP" to [user phone number]. Please note that this action will permanently remove you from the system and you will be required to go through the sign up process again if you change your mind.</p>
</div>


{% endblock %}