{% extends 'text/base.html' %}
{% load static %}
{% block content %}


<section class="mb-5">
    <h1 class="pb-4">Account Settings</h1>
    <div class="row mb-3">
        <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10 col-md-6">
            <input class="form-control" type="text" value="{{user.first_name}}" aria-label="first_name" name="first_name" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10 col-md-6">
            <input class="form-control" type="text" value="{{user.last_name}}" aria-label="last_name" name="last_name" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10 col-md-6">
            <input class="form-control" type="email" value="{{user.email}}" aria-label="email" name="email" readonly>
        </div>
    </div>
    <div class="row mb-3 pt-3">
        <a href="{% url 'user_edit_user' %}">Edit Account Settings</a>
    </div>
</section>

<section class="mb-5">
    <h2 class="h3 pb-4">URL & Phone Number</h2>
    <div class="row mb-3">
        <label for="user_url" class="col-sm-2 col-form-label">URL</label>
        <div class="col-sm-10 col-md-6">
            <input class="form-control" type="text" value="{{user_profile.user_url}}" aria-label="user_url" name="user_url" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="user_phone" class="col-sm-2 col-form-label">Phone</label>
        {% if user_profile.user_phone %}
        <div class="col-sm-10 col-md-6">
            <input class="form-control" type="text" value="{{user_profile.user_phone}}" aria-label="user_phone" name="user_phone" readonly>
        </div>
        {% else %}
        <div class="col-sm-10 col-md-6 d-flex align-items-center">
            <a href="{% url 'user_search_phone' %}">Add Phone Number</a>
        </div>
        {% endif %}
    </div> 
</section>

<section class="mb-5">
    <h2 class="h3 pb-4">Text Messages</h2>
    <div class="row mb-3">
        <label for="message_limit" class="col-sm-2 col-form-label">Limit</label>
        <div class="col-sm-10 col-md-6">
            <input class="form-control" type="text" value="{{user_profile.message_limit}}" aria-label="message_limit" name="message_limit" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="message_count" class="col-sm-2 col-form-label">Count</label>
        <div class="col-sm-10 col-md-6 d-flex align-items-center">
            <input class="form-control" type="text" value="{{user_profile.message_count}}" aria-label="message_count" name="message_count" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="message_remaining" class="col-sm-2 col-form-label">Remaining</label>
        <div class="col-sm-10 col-md-6">
            <input class="form-control" type="text" value="{{messages_remaining}}" aria-label="message_remaining" name="message_remaining" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <label for="message_frequency" class="col-sm-2 col-form-label">Frequency</label>
        <div class="col-sm-10 col-md-6 d-flex align-items-center">
            <p class="mb-0 me-3">Every</p> 
            <input class="form-control d-inline w-auto flex-grow-1" type="text" value="{{user_profile.message_frequency}}" aria-label="message_frequency" name="message_frequency" readonly>
            <p class="mb-0 ms-3">days</p>
        </div>
    </div>
    <div class="row mb-3 pt-3">
        <a href="{% url 'user_edit_message' %}">Change Frequency</a>
    </div>

    <div class="row mb-3 pt-4">
        <h3 class="h5 pb-3">Sample Text Message</h3>
        <div>
            <div class="col-sm-10 col-md-6 px-3 py-2 rounded-3" style="background-color: #e9ecef; border: 1px solid #ced4da">
                <p>Hi {Client's Name},</p>
                <p>This is {{user.first_name}} with your scheduled check-in to see if you are still actively searching the job market.</p>
                <p>Please reply YES or NO to make sure your status up to date.</p>
                <p>Reply STOP if you no longer wish to receive these scheduled check-ins.</p>
            </div>    
        </div>
    </div>
    
</section>

<section >
    <h2 class="h3 pb-4">Client List</h2>
    <div class="overflow-scroll">
    {% if client_list %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>    
            </thead>
            <tbody>
                {% for client in client_list %}
                    <tr>
                        <td class="align-middle">{{client.first_name}} {{client.last_name}}</td>
                        <td class="align-middle">{{client.is_active}}</td>
                        <td class="align-middle">{{client.phone}}</td>
                        <td class="align-middle">{{client.email}}</td>
                        <td class="text-center align-middle"><a class="btn btn-danger" href="{% url 'user_delete_client' client.id %}">x</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    {% endif %}
    </div>
</section>

{% endblock %}