{% extends 'text/base.html' %}
{% load static %}

{% block content %}

<section class="mb-5">
    <h1 class="pb-4">Edit Frequency</h1>
    <form action="{% url 'user_edit_message' %}" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <p class="mb-0">Send check-in text messages to clients every</p>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10 col-md-4 d-flex align-items-center">
                {{ form.message_frequency }}
                <p class="mb-0 ms-3">days</p>
            </div>
        </div>
        <input class="btn btn-primary mt-4 me-3" type="submit" value="Save Changes">
        <input class="btn btn-secondary mt-4" type="submit" value="Cancel" formaction="{% url 'user_dashboard' %}">  
    </form>
</section>




{% endblock %}